.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 30%; /* Adjust the width of the images as needed */
    height: auto;
}